body{
  font-family: 'Scope One', serif !important;
}

nav {
  background-color: #0000 !important;
  
}

#confirmar-pago {
  background-color: #7acc2d !important;
}

#confirmar-pago:hover {
  background-color: #63a426 !important;
}

#img1 {
  object-fit: cover;
  height: 100vh;
}

.centrado-verticalmente{
  margin: auto 0;
}

.texto-muy-grande {
  font-size: 5rem !important;
}


.contacto{
  font-size: 5rem;
  color: #fff;
}



.afterscroll {
  /* background-color:#000 !important;  */
  transition:0.3s all linear;
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.borde1 {
  border: 2px solid red;
}

.borde2 {
  border: 2px solid white;
}
.borde3 {
  border: 2px solid cyan;
}